* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  animation: normal;
}

/* Navbar */
nav {
  background: rgb(255, 255, 255);
  color: #234ad4;
  display: flex;
  justify-content: space-around;
  border-radius: 0px 0px 35px 35px;
}
nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
}
nav .mainMenu li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #234ad4;
  font-size: 1rem;
  font-weight: bold;
  /* transition: 1s; */
}
nav .mainMenu li a:hover {
  color: #234ad4;
  text-transform: uppercase;
  font-weight: bold;
}
nav .openMenu {
  font-size: 1rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu,
.icons i {
  font-size: 1rem;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  nav {
    justify-content: space-evenly;
  }
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #234ad4;
    color: #fff;
    transition: top 0.5s ease;
    align-items: center;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a {
    color: #fff;
    font-weight: bold;
  }
  nav .mainMenu li a:hover {
    color: white;
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }
}

.nav-underline,
.nav-underline-about,
.nav-underline-contact,
.nav-underline-team {
  text-decoration: none;
  position: relative;
}

.nav-underline:hover:after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 42%;
  transform: translateX(-50%);
  background-color: #ff7518;
  width: 2rem;
  height: 2px;
  border-radius: 0.8rem;
}

.nav-underline-about:hover:after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 38%;
  transform: translateX(-50%);
  background-color: #ff7518;
  width: 2rem;
  height: 2px;
  border-radius: 0.8rem;
}

.nav-underline-contact:hover:after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 31%;
  transform: translateX(-50%);
  background-color: #ff7518;
  width: 2rem;
  height: 2px;
  border-radius: 0.8rem;
}

.logo_name {
  text-decoration: none;
}
.logo_name_dec {
  color: black;
}
.logo_name_dec img{
  width: 20px;
}

/* Home_Items */
.home_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* About Section */
.about {
  background-color: #234ad4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.about-content {
  color: #fff;
  font-size: 1.6rem;
}
.about-us-heading {
  margin-bottom: 20px;
  color: #fff;
  font-size: 3rem;
}

/*Category*/
.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100vh;
}
.category_heading {
  color: #234ad4;
  font-size: 3rem;
}

.role-section {
  padding: 3rem;
}

.role-section-heading {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.role-section-heading:after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #234ad4;
  width: 24rem;
  height: 3px;
  border-radius: 0.8rem;
}

.role-cards {
  display: flex;
  text-align: center;
  padding: 70px 10px 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.contributer-role-card {
  text-align: center;
  background-color: #234ad4;
  border-radius: 40px;
  box-shadow: 2px 0px 10px 0px #b1b1b1;
  width: 350px;
  height: 100%;
}

.contributer-role-card-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

.contributer-role-card-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
}

.mentor-role-card-heading {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: bolder;
}

.mentor-role-card {
  background-color: #234ad4;
  text-align: center;
  border-radius: 40px;
  box-shadow: 2px 0px 10px 0px #b1b1b1;
  width: 350px;
  height: 100%;
}

.mentor-role-card-content {
  display: flex;
  padding: 30px;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 40px;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 500;
}

/* Contact */
.contact {
  background-color: #234ad4;
  height: 70vh;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.contact-section {
  display: flex;
  flex-direction: row;
}

.contact-us-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 40rem;
  height: 15rem;
  justify-content: center;
  margin-left: 15px;
}
.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
